<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=
    , initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h1>New Stuff</h1>
        <form action="/camp" method="post">
            <div>
                <label for="title">title</label>
                <input type="text" name="campground[title]" id="title">
            </div>
            <div>
                <label for="location">Location</label>
                <input type="text" name="campground[location]" id="location">
            </div>
            <button>Add Campground </button>
        </form>
        <a href="/camp"><button> Back to Main </button></a>
    </body>

</html>